/* 
Name: Isabella Mills
File name: Style.css
Date: 1/23/2024 
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img, nav ul{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
    background-color:#ebd5e8
}

img {
    max-width: 100%;
    display: block;
}

/* Style rules for mobile viewport */


/* Style rules to show mobile class and hide tab-desk class */
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

.mobile h1 {
    font-size: 2em;
}

/* Style rules for header */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ebd5e8;
    color: #783a70;
    font-family: Verdana, Arial, sans-serif;
    border-bottom: 4px solid white;
}

header h1 {
    
    display:block;
    text-align: center;
    padding: 1em 0 0.5em 0;
    font-size: 3.25em;
}

/* Style rules for navigation area */
nav {
    margin-bottom: 1%;
    background-color: white;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    border-top: 1px solid #ebd5e8;
}

nav li a {
    display: block;
    color: #783a70;
    padding: 0.5em 2em 0.5em 2em;
    text-decoration: none;
}

/* Style rules for main content */
main {
    clear: right;
    padding: 3%;
    padding-top:1%;
}

main p {
    font-size: 12pt;
}

#about #facts {
    padding-right: 5%
}

.action {
    font-size: 14pt;
    color:#783a70;
}

#eating-habits, #fanatic-photographer, #fitness-equipment {
    margin: 2% 2%;
}
#eating-habits h1, #fanatic-photographer h1, #fitness-equipment h1 {
    margin-bottom: 2%;
}

#eating-habits img, #fanatic-photographer img, #fitness-equipment img {
    border: 3px solid white;
}

.round {
    border-radius: 8px;
}

#contact {
    text-align: center;
}

#contact p{
    font-size: 1.25em;
    color: #783a70;
}

.link {
    color: #783a70;
    text-decoration: none;
    font-weight: bold;
}

.map {
    border: 5px solid #000;
    width: 75%;
    height: 75%;
}

/* Style rules for footer content */
footer {
    background-color: white;
    font-size: 1em;
    text-align: center;
    color: #783a70;
    padding: 0.5em 0 1.5em 0;
    
}

footer a {
    color: #783a70;
    font-weight: bold;
    text-decoration: none;
}


/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px) {
    
    /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop {
        display: block;
    }
    
    .mobile {
        display: none;
    }
    
    
    /* Tablet Viewport: Style rule for header */
    header {
        position: static;
        border-bottom: none;
    }
    
    header h1 {
        width: 69%;
        font-size: 2.5em;
        float: left;
        padding-bottom: 0;
        padding-left: 0.25em;
        padding-right: 0.25em;
        
    }
    
    header h3 {
        width: 72%;
        float:left;
        text-align: center;
        font-family: "Dancing Script", cursive;
        font-size: 2em;
        margin-top:0;
        padding-top: 0.25em;
    }
    
    header img {
        padding: 2%;
        width: 24%;
        float:right;
        
    }
    
    /* Tablet Viewport: Style rule for nav area */
    nav {
        clear: both;
    }
    
    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1em;
        border-right: 2px solid #ebd5e8;
    }
    
    nav li:last-child {
        border-right:none;
    }
    
    /* Tablet Viewport: Style rules for main content area */
    #about #facts {
        padding-right: none;
    }
    
    #eating-habits, #fanatic-photographer, #fitness-equipment{
        width: 46%;
        float: left;
    }
     
    /* Tablet Viewport: Syle rules for footer content area */
    footer {
        clear: left;
    }
    
}


/* Media Query for Desktop Viewport */
@media screen and (min-width: 769px) {
    
    /* Desktop Viewport: Style rule for header */
    header h1{
        
        font-size: 3em;
    }
    
    header img{
        width: 20%
    }
    
    /* Desktop Viewport: Style rule for nav area */
    nav li {
        font-size: 1.25em
    }
    
    /* Desktop Viewport: Style rule for main content area */
    #eating-habits, #fanatic-photographer, #fitness-equipment {
        width: 29%;
        float: left;
    }

}


